/**
 * General settings from Online Chapel
 * Author: João Teodoro
 * E-mail: joaotdn@gmail.com
 */
.upp {
	text-transform: uppercase;
}
.btn-danger {
	margin-right: 1em;
}
small {	
	margin-left: 1em;
	margin-bottom: 1em;
}
tr {
	position: relative;
}
.light {
	display: none;
}
li.col-sm-3 {
	text-align: center;
}